.app-container {
  display: flex;
  height: 100vh;
}

.content {
  flex-grow: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 0;
}

.connect-wallet-btn,
.submit-btn,
.wallet-btn {
  background-color: var(--accent-color);
  border: none;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  font-weight: 600;
  padding: 15px 30px;
}

.connect-wallet-btn:hover,
.submit-btn:hover,
.wallet-btn:hover {
  background-color: var(--hover-color);
  transform: scale(1.05);
}

.account-display {
  background-color: #282a36;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: 500;
  color: var(--text-color);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3);
}

.main-content {
  text-align: center;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-content p {
  margin: 10px 0;
  font-size: 1.25rem;
  font-weight: 500;
}

.main-btn {
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 15px 30px;
  border-radius: 10px;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.main-btn:hover {
  background-color: var(--secondary-color);
  transform: scale(1.05);
}
