.sidebar {
  width: 250px;
  background: linear-gradient(to bottom, var(--sidebar-background), #0f2027);
  padding: 20px;
  border-right: 1px solid var(--sidebar-border);
  box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.5);
}

.sidebar h2 {
  font-size: 1.75rem; /* Увеличен размер заголовка */
  font-weight: 700;
  color: var(--text-color);
  margin-bottom: 30px;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar ul li {
  margin-bottom: 20px;
  font-size: 1.125rem; /* Увеличен размер текста в списке */
  font-weight: 500;
  color: var(--muted-text-color);
  cursor: pointer;
  transition: color 0.3s, transform 0.3s;
}

.sidebar ul li:hover {
  color: var(--text-color);
  transform: translateX(10px);
}

.sidebar ul li .active-link {
  color: var(--primary-color);
}

.sidebar-resizer {
  width: 10px;
  cursor: ew-resize;
  background-color: transparent;
  position: relative;
  z-index: 1;
}

.sidebar-resizer:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
