/* Основной контейнер */
.app-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

/* Сайдбар */
.sidebar {
  width: 250px;
  background: linear-gradient(to bottom, #203a43, #0f2027);
  padding: 20px;
  box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.5);
}

/* Контент */
.content {
  flex: 1;
  display: flex;
  justify-content: center; /* Центрирование формы по горизонтали */
  align-items: center;     /* Центрирование формы по вертикали */
  padding: 20px;
  overflow: auto;
}

.hook-form {
  width: 100%;
  max-width: 600px;
  background: linear-gradient(to bottom, #2b2d42, #1f1f2e);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s;
}

.hook-form:hover {
  transform: translateY(-5px);
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 8px;
  font-weight: 500;
  color: #ffffff;
}

.form-group select,
.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #3a3d55;
  background-color: #1f1f2e;
  color: #ffffff;
  font-size: 1rem;
  transition: border-color 0.3s;
}

.form-group input::placeholder,
.form-group textarea::placeholder {
  color: #828599;
}

.form-group input:focus,
.form-group select:focus,
.form-group textarea:focus {
  outline: none;
  border-color: #3579f6;
}

.submit-btn {
  width: 100%;
  padding: 15px;
  background-color: #3579f6;
  color: white;
  font-weight: 600;
  font-size: 1rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.submit-btn:hover {
  background-color: #2b66d9;
  transform: scale(1.05);
}

/* Адаптивные стили */
@media (max-width: 768px) {
  .hook-form {
    padding: 20px;
    box-shadow: none;
  }

  .submit-btn {
    padding: 12px;
    font-size: 0.9rem;
  }
}

@media (max-width: 480px) {
  .hook-form {
    padding: 15px;
    max-width: 100%;
  }

  .form-group input,
  .form-group select,
  .form-group textarea {
    font-size: 0.9rem;
    padding: 8px;
  }

  .submit-btn {
    padding: 10px;
    font-size: 0.8rem;
  }
}
