.hook-sequence-container {
  padding: 20px;
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
  height: calc(100vh - 60px); 
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.hook-points-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); 
  gap: 20px;
  flex-grow: 1;
  padding-top: 10px;
  overflow-y: auto;
  padding-right: 15px;
}

.hook-point-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--input-background);
  padding: 10px;
  border-radius: 10px;
  color: var(--text-color);
  font-size: 1.25rem;
  font-weight: bold;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.hook-point-list {
  background-color: var(--background-color);
  border-radius: 10px;
  padding: 15px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: auto;
}

.hook-item {
  background: linear-gradient(to bottom, #2b2d42, var(--background-color));
  padding: 15px;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}

.hook-item:hover {
  transform: translateY(-5px);
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.6);
}

.hook-item h4 {
  margin: 0;
  font-size: 1rem;
  color: var(--text-color);
}

.arrow-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60px;
}

.arrow-up {
  background-color: var(--accent-color);
  border: none;
  color: white;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  padding: 5px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  margin-right: auto;
}

.arrow-down {
  background-color: var(--accent-color);
  border: none;
  color: white;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  padding: 5px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  margin-left: auto;
}

.arrow-up:disabled,
.arrow-down:disabled {
  background-color: var(--input-background);
  color: var(--muted-text-color);
  cursor: not-allowed;
}

.arrow-up:hover:not(:disabled),
.arrow-down:hover:not(:disabled) {
  background-color: var(--hover-color);
  transform: scale(1.05);
}

.sequence-editor-buttons {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

.nav-button {
  background-color: orange; /* Оранжевый цвет для кнопок Prev и Next */
  color: white;
  border: none;
  padding: 15px 40px; /* Увеличенный размер для кнопок Prev и Next */
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  margin: 0 10px;
}

.nav-button:hover {
  background-color: darkorange; /* Цвет при наведении */
  transform: scale(1.05);
}

.reset-button {
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 10px 20px; /* Меньший размер для кнопки Reset */
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.reset-button:hover {
  background-color: var(--hover-color);
  transform: scale(1.05);
}

@media (max-width: 768px) {
  .hook-sequence-container {
    padding: 15px;
  }

  .hook-points-container {
    grid-template-columns: 1fr; 
  }

  .nav-button {
    padding: 10px 30px; /* Уменьшенный размер кнопок на мобильных устройствах */
  }
}
