.metaMask-login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.connect-wallet-btn {
  background-color: var(--accent-color);
  border: none;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  padding: 15px 30px;
}

.connect-wallet-btn:hover {
  background-color: var(--hover-color);
  transform: scale(1.05);
}
