.metaMask-login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.connect-wallet-btn {
  background-color: #ff8e3c;
  color: white;
  border: none;
  padding: 15px 30px;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.connect-wallet-btn:hover {
  background-color: #ff7c2a;
  transform: scale(1.05);
}
